@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .overlay {
        @apply absolute;
    }

    .carousel {
        @apply w-screen relative overflow-hidden;
        height: 90vh;
    }

    .slides {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        transition: 1s ease-in-out;
    }

    .slide {
        @apply absolute;
        min-width: 100%;
        min-height: 250px;
        height: auto;
    }
}

@screen md {}